
  {% extends 'base.html' %}
  {% block content %}

  {% load static %}
  <link href="{% static 'style.css' %}"
        rel="stylesheet"
        type="text/css">
  <header>
    <button class="btn btn-danger"
            type="button">
    <h2>Product Django</h2></button>
  </header>
  <div class="container">
    <div class="row">
      {% for product in qs %}
      <div class="col-sm polaroid">
        <center>
          <img alt="img"
                  src="../media/{{product.image}}"
                  style="width:200px">
        </center>
        <div class="container1">
          <h4 style="color:blue;">{{product.name}} <strong>{{product.price}} ฿</strong></h4>
        </div>
      </div>{% endfor %}
    </div>
  </div>
  {% endblock %}